Suppressing the print function's ending newline <br>

The print function normally displays a line of output. <br>

In [ ]:
print('One')
print('Two')
print('Three')

Each of the statements above displays a string and then prints a newline character. A newline character causes the output to advance to the next line. If you don't want the print function to start a new line of output when it finishes displaying its output, you can pass the special argument end = ' ' to the function.

In [1]:
print('One', end = ' ')
print('Two', end = ' ')
print('Three', end = ' ')

One Two Three

In [2]:
#end without a space
print('One', end = '')
print('Two', end = '')
print('Three', end = '')

OneTwoThree

Specifying an item separator - when multiple arguments are passed to the print function, they are automatically separated by a space when they are displayed.

In [ ]:
print('One', 'Two', 'Three')

If you do not want a space printed between the items, you can pass the argument sep = '' to the print function.

In [3]:
print('One', 'Two', 'Three', sep = '')

OneTwoThree

In [4]:
#you can also use other characters
print('One', 'Two', 'Three', sep = '*')

One*Two*Three

Escape Characters

An escape character is a special character that is preceded with a backslash (\), appearing inside a string literal. When a string literal that contains escape characters is printed, the escape characters are treated as special commands that are embedded in the string.

In [5]:
#escape character for newline
#\n
print('One\nTwo\nThree')

One
Two
Three

Escape Characters:

\n | Causes output to be advanced to the next line <br>
\t | Causes output to skip over to the next horizontal tab position <br>
\' | Causes a single quote mark to be printed <br>
\" | Causes a double quote mark to be printed <br>
\\ | Causes a backslash character to be printed

In [6]:
print('Jan\tFeb\tMar\n')
print('Apr\tMay\tJun')

Jan	Feb	Mar

Apr	May	Jun

You can use the \' and \" escape characters to display quotation marks.

In [7]:
print("Your assignment is to read \"Hamlet\" by tomorrow.")
print('I\'m ready to begin.')

Your assignment is to read "Hamlet" by tomorrow.
I'm ready to begin.

You can use the \\ escape character to display a backslash.

In [8]:
print('The path is C:\\temp\\data.')

The path is C:\temp\data.

When the + operator is used with two strings, it performs string concatenation. This means that it appends one string to another

In [9]:
print('This is ' + 'one string.')

This is one string.

In [11]:
#use string concatenation to break up a string literal 
print('Jane Doe ' + 
      'goes to school ' + 
      'everyday')

Jane Doe goes to school everyday

When a floating-point number is displayed by the print function, it can appear with up to 12 significant digits.

In [16]:
amount_due = 5000.0
monthly_payment = amount_due / 12 
print(monthly_payment)

416.6666666666667

Round numbers using format function. You pass two arguments to the function:  a numerical value and a format specifier. The format specifier is a string that contains special characters specifying how the numeric value should be formatted. 

format(12345.6789, '.2f')

The first argument, which is the floating-point number 12345.6789, is the number that we want to format. The second argument, which is the string '.2f', is the format specifier.

.2 specifies the precision. It indicates that we want to round the number to two decimal places.
The f specifies that the data type of the number we are formatting is a floating-point number.

In [1]:
print(format(12345.6789, '.2f'))

12345.68

In [ ]:
print(format(12345.6789, '.1f'))

In [ ]:
print(format(12345.6789, '.3f'))

In [2]:
print('This is a sample format', format(12345.6789, '.2f'))

This is a sample format 12345.68

In [4]:
#formatting scientific notation
print(format(12345.6789, 'e'))

1.234568e+04

In [5]:
#inserting comma separators
print(format(12345.6789, ',.2f'))

12,345.68

In [6]:
print(format(123456789.456, ',.2f'))

123,456,789.46

In [7]:
#Example that specifies the comma separator, but does not specify precision

print(format(12345.6789, ',f'))

12,345.678900

In [8]:
#displaying a dollar sign
# This program demonstrates how a floating-point
# number can be displayed as currency.
monthly_pay = 5000.0
annual_pay = monthly_pay * 12
print('Your annual pay is $', 
format(annual_pay, ',.2f'), 
sep='')

Your annual pay is $60,000.00

Specifying a minimum field width

The format specifier can also include a minimum field width, which is the minimum number of spaces that should be used to display the value.

In [10]:
print('The number is', format(12345.6789, '12,.2f')) # there is a 12 width space allocation for the number

The number is    12,345.68

In [9]:
print('The number is', format(12345.6789, '12.2f')) #the number consumes 12 spaces wide #if the number is shorter than the width it is right justified.

The number is     12345.68

In [11]:
#Field widths can help when you need to print numbers aligned in columns
# This program displays the following
# floating-point numbers in a column
# with their decimal points aligned.
num1 = 127.899
num2 = 3465.148
num3 = 3.776
num4 = 264.821
num5 = 88.081
num6 = 799.999

# Display each number in a field of 7 spaces
# with 2 decimal places.
print(format(num1, '7.2f'))
print(format(num2, '7.2f'))
print(format(num3, '7.2f'))
print(format(num4, '7.2f'))
print(format(num5, '7.2f'))
print(format(num6, '7.2f'))

 127.90
3465.15
   3.78
 264.82
  88.08
 800.00

Instead of using f as the type designator, you can use the % symbol to format a floating point number as a percentage. The % symbol causes the number to be multiplied by 100 and displayed with a % sign following it. Here is an example:

In [12]:
print(format(0.5, '%'))

50.000000%

In [13]:
print(format(0.5, '.0%'))

50%

Formatting integers:
You can also use the format function to format integers. There are two differences to keep in mind when writing a format specifier that will be used to format an integer:

•	You use d as the type designator. <br>
•	You cannot specify precision.

In [15]:
print(format(123456, 'd'))
print(format(123456, ',d')) #print with comma separator
print(format(123456, 'd')) #123456 is printed in a field that is 10 spaces wide
print(format(123456, '10,d')) #the number 123456 is printed with a comma separator in a field that is 10 spaces wide

123456
123,456
123456
   123,456

Named Constants - A named constant is a name that represents a value that cannot be changed during the program's execution.

The following is an example of how we will declare named constants in our code:
INTEREST_RATE = 0.069

This creates a named constant named INTEREST_RATE that is assigned the value 0.069. Notice the named constant is written in all uppercase letters. This is a standard practice in most programming languages because it makes named constants easily distinguishable from regular variables.

Advantages of NAMED CONSTANTS: <br>
-They make programs more self-explanatory <br>
-Widespread changes can easily be made to the program <br>
-They help to prevent the typographical errors <br>

In [18]:
PI = 3.1416 #this is a constant
r = 5
print(2*PI*r) #calculating circumference of a circle

31.416