A variable is a name that represents a value stored in the computer's memory. Programs usually store data in the computerâ€™s memory and perform operations on that data. Programs use variables to access and manipulate data that is stored in memory. A variable is name that represents a value in the computer's memory.

In [4]:
age = 25 #This is an assignment statement #age references 25

You use an assignment statement to create a variable and make it reference a piece of data. 
An assignment statement in this format:

variable = expression

In [5]:
#An incorrect way of assigning value to a variable
25 = age

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1772120562.py, line 2)

You can print the value using the variable.

In [ ]:
age = 25
print(age)

25

In [ ]:
#String literal vs. Variable
print("age")
print(age)

age
25

You can also print a variable along with a string literal.

In [ ]:
print("My age is")
print(age)

My age is
25
.

In [ ]:
#Another example
#print variable with a string literal in one line
print("My age is", age, ".")

My age is 25 .

You can declare multiple variables.

In [ ]:
name = "Jane Doe"
age = 25
print("Her name is", name)
print("and here age is", age)

Her name is Jane Doe
and here age is 25

Just remember, You cannot use a variable until you have assigned a value to it. An error will occur if you try to perform an operation on a variable, such as printing it, before it has been assigned a value.

In [ ]:
print(address)

NameError: name 'address' is not defined

In [ ]:
#Another example is if you misspelled a variable name
temperature = 100
print(tempereture)

NameError: name 'tempereture' is not defined

Rules to follow when naming variables:
1. You cannot use Python keywords as variable name. Find the list of keywords here: https://www.w3schools.com/python/python_ref_keywords.asp
2. A variable name cannot contain spaces.
3. The first character must be one of the letters a through z, A through Z, or an under score character (_).
4. After the first character you may use the letters a through z or A through Z, the digits 0 through 9, or underscores.
5. Uppercase and lowercase characters are distinct. This means the variable name Age is not the same as age.

Note: Use variable names should reflect the variable's purpose.
Example:
age
avg_grade
totalProductsSold

camelCase naming convention
-Variable name begins with lowecase letters.
-First character of the second and subsequent words is written in uppercase.

In [ ]:
#camelCase Example
dayOfWeek = "Monday"

snakeCase naming convention
Each word is separated by an underscore character:

In [ ]:
day_of_week = "Monday"

You will get an error when you have an illegal variable declaration.

In [ ]:
units_per_subj = 3 #legal
dayOfWeek = "Wednesday" #Legal
3dGraph = 1 #Illegal. Variable names cannot begin with a digit.
June1997 = True #Legal
Mixture?3 = "Solid" #Illegal. Variable names may only use letters, digits, or underscores

SyntaxError: invalid decimal literal (2886329682.py, line 3)

Variable reassignment - When you assign a value to a variable, the variable will reference that value 
until you assign it a different value.

In [ ]:
x = 25 #Initial value of x is 25
x = 26 #x is reassigned to a new value
print(x)

26

In [ ]:
#Another example
accountBalance = 100 #Initial value of accountBalance is 100
print("Your account balance is", accountBalance)

#Reassign accountBalance a new value
accountBalance = 105
print("Your new account balance is", accountBalance)

Your account balance is 100
Your new account balance is 105

Numeric Data Types and Literals - Python uses data types to categorize values in memory. 

Different examples of data types:
int | positive and negative whole numbers | 20, -20, 1546578
float | positive and negative numbers with a decimal point | 5.2, -10.0, 99.99
str | sequences of character data (enclosed in quotation marks) | "Hello World", "Jane Doe", "age"
bool | has one of two possible values (usually denoted true and false) | True, False

In [ ]:
#Check type of data using type()
age = 25
print(type(age))

name = "Jane Doe"
print(type(name))

answer = True
print(type(answer))

balance = 10.50
print(type(balance))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

You cannot write currency symbols, spaces or commas in numeric literals. For example:

In [ ]:
value = $4,567.99 # Error!

SyntaxError: invalid syntax (2165622802.py, line 1)

In [ ]:
#Instead, do this
value = 4567.99 # Error!

In [ ]:
# Create variables to reference two strings.
first_name = 'Kathryn'
last_name = 'Bernardo'

#Display the values referenced by the variables.
print(first_name, last_name)

Kathryn Bernardo

Reassigning a Variable to a Different Type - A variable in Python can refer to items of any type. After a variable has been assigned an 
item of one type, it can be reassigned an item of a different type.

In [ ]:
value = "Jane Doe"
print(value)

value = 25
print(value)

Jane Doe
25

Python has numerous operators that can be uses to perform mathematical calculations. We use the operators to create math expressions. A math expression performs calculation and gives a value.

+ | Addition | Adss two numbers
- | Subtraction | Subtracts one number from another
* | Multiplication | Multiplies one number by another
/ | Division | Divides one number by another and gives the result as a floating-point number
// | Integer Division | Divides one number by another and gives the result as a whole number
% | Remainder (Modulo) | Divides one number by another and gives the remainder
** | Exponent | Raises a number to a power

In [ ]:
#math operators 
x = 5
y = 2

print("Addition:", x+y)
print("Subtraction:",x-y)
print("Multiplication:",x*y)
print("Division:",x/y)
print("Integer Division:", x//y)
print("Modulo:",x%y)
print("Exponent:",x**y)

Addition: 7
Subtraction: 3
Multiplication: 10
Division: 2.5
Integer Division: 2
Modulo: 1
Exponent: 25

In [6]:
#Floating-Point and Integer Division
print(5/2) #This will give a floating-point value
print(5//2) #This will give an integer value

2.5
2

The // operator works like this:
-When the result is positive, the fractional part is thrown away.
-When the result is negative, it is rounded away from zero to the nearest integer.

In [7]:
#Integer division with positive and negative numbers
print(5//2)
print(-5//2)

2
-3

Operator Precedence: When two operator share an operand, the operator with the higher precedence is applied first. The precedence of the math operators, from highest to lowest are:
1. Exponentiation: **
2. Multiplication, division and remainder: * / // %
3. Addition and Subtraction: + - 
When two operators with same precedence share an operand, the operators execute from left to right.

In [12]:
#operator precedence
print(5+2*4) #multiplication has a higher precedence than addition
print(10/2-3)
print(8+12*2-4) 
print(6-3*2+7-1) #if the operators has the same precedence, they are executed from left to right

13
2.0
28
6

There is an exception to the left-to-right rule. When two ** operators share an operand, the operators excecute right-to-left.

In [13]:
print(2**3**4)
#is the same as
print(2**(3**4))

2417851639229258349412352
2417851639229258349412352

Parts if a mathematical expression may be grouped with parentheses to force some operations to be performed before others. 

result = (a + b) / 2

Without the parentheses, b would be divided by 2 and the result added to a.

In [18]:
#operator precedence with parentheses
print((5+2)*4) 
print(10/(2-3))
print((8+12)*2-4) 
print((6-3)*(2+7)-1) #if the operators has the same precedence, they are executed from left to right

28
-10.0
36
26

In [20]:
#Solving Problems with the remainder (%) operator 
# Get a number of seconds from the user.
total_seconds = float(input('Enter a number of seconds: '))

# Get the number of hours.
hours = total_seconds // 3600

# Get the number of remaining minutes.
minutes = (total_seconds // 60) % 60

#Get the number of remaining seconds.
seconds = total_seconds % 60

#Display the results.
print('Here is the time in hours, minutes, and seconds:')
print('Hours:', hours)
print('Minutes:', minutes)
print('Seconds:', seconds)

Here is the time in hours, minutes, and seconds:
Hours: 3.0
Minutes: 15.0
Seconds: 30.0