A variable is a name that represents a value stored in the computer's memory. Programs usually store data in the computerâ€™s memory and perform operations on that data. Programs use variables to access and manipulate data that is stored in memory. A variable is name that represents a value in the computer's memory.

In [ ]:
age = 25 #This is an assignment statement #age references 25

You use an assignment statement to create a variable and make it reference a piece of data. 
An assignment statement in this format:

variable = expression

In [1]:
#An incorrect way of assigning value to a variable
25 = age

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1772120562.py, line 2)

You can print the value using the variable.

In [2]:
age = 25
print(age)

25

In [3]:
#String literal vs. Variable
print("age")
print(age)

age
25

You can also print a variable along with a string literal.

In [7]:
print("My age is")
print(age)

My age is
25
.

In [8]:
#Another example
#print variable with a string literal in one line
print("My age is", age, ".")

My age is 25 .

You can declare multiple variables.

In [10]:
name = "Jane Doe"
age = 25
print("Her name is", name)
print("and here age is", age)

Her name is Jane Doe
and here age is 25

Just remember, You cannot use a variable until you have assigned a value to it. An error will occur if you try to perform an operation on a variable, such as printing it, before it has been assigned a value.

In [11]:
print(address)

NameError: name 'address' is not defined

In [12]:
#Another example is if you misspelled a variable name
temperature = 100
print(tempereture)

NameError: name 'tempereture' is not defined

Rules to follow when naming variables:
1. You cannot use Python keywords as variable name. Find the list of keywords here: https://www.w3schools.com/python/python_ref_keywords.asp
2. A variable name cannot contain spaces.
3. The first character must be one of the letters a through z, A through Z, or an under score character (_).
4. After the first character you may use the letters a through z or A through Z, the digits 0 through 9, or underscores.
5. Uppercase and lowercase characters are distinct. This means the variable name Age is not the same as age.

Note: Use variable names should reflect the variable's purpose.
Example:
age
avg_grade
totalProductsSold

camelCase naming convention
-Variable name begins with lowecase letters.
-First character of the second and subsequent words is written in uppercase.

In [ ]:
#camelCase Example
dayOfWeek = "Monday"

snakeCase naming convention
Each word is separated by an underscore character:

In [ ]:
day_of_week = "Monday"

You will get an error when you have an illegal variable declaration.

In [1]:
units_per_subj = 3 #legal
dayOfWeek = "Wednesday" #Legal
3dGraph = 1 #Illegal. Variable names cannot begin with a digit.
June1997 = True #Legal
Mixture?3 = "Solid" #Illegal. Variable names may only use letters, digits, or underscores

SyntaxError: invalid decimal literal (2886329682.py, line 3)

Variable reassignment - When you assign a value to a variable, the variable will reference that value 
until you assign it a different value.

In [2]:
x = 25 #Initial value of x is 25
x = 26 #x is reassigned to a new value
print(x)

26

In [3]:
#Another example
accountBalance = 100 #Initial value of accountBalance is 100
print("Your account balance is", accountBalance)

#Reassign accountBalance a new value
accountBalance = 105
print("Your new account balance is", accountBalance)

Your account balance is 100
Your new account balance is 105

Numeric Data Types and Literals - Python uses data types to categorize values in memory. 

Different examples of data types:
int | positive and negative whole numbers | 20, -20, 1546578
float | positive and negative numbers with a decimal point | 5.2, -10.0, 99.99
str | sequences of character data (enclosed in quotation marks) | "Hello World", "Jane Doe", "age"
bool | has one of two possible values (usually denoted true and false) | True, False

In [5]:
#Check type of data using type()
age = 25
print(type(age))

name = "Jane Doe"
print(type(name))

answer = True
print(type(answer))

balance = 10.50
print(type(balance))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

You cannot write currency symbols, spaces or commas in numeric literals. For example:

In [6]:
value = $4,567.99 # Error!

SyntaxError: invalid syntax (2165622802.py, line 1)

In [7]:
#Instead, do this
value = 4567.99 # Error!

In [8]:
# Create variables to reference two strings.
first_name = 'Kathryn'
last_name = 'Bernardo'

#Display the values referenced by the variables.
print(first_name, last_name)

Kathryn Bernardo

Reassigning a Variable to a Different Type - A variable in Python can refer to items of any type. After a variable has been assigned an 
item of one type, it can be reassigned an item of a different type.

In [9]:
value = "Jane Doe"
print(value)

value = 25
print(value)

Jane Doe
25